@import "./base/sures/index.scss";

body{ 
    padding: 0;
    margin: 0;
    width: 100%;
    
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }

 .back-imag{
    width: 100%;
    height: 30rem;
    background-image: url(../images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 4%;
 }

 nav{
     ul{
    @include font-Alata;
    color: $colo-black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;
    margin-left: 46%;
    
 }
}

    h1{
        color: $colo-black;
        top: 15%;
        left: 5%;
    }
    h2{
        @include fontsiz;
        color:$colo-noir;
        padding: 3%;
    }
    h3{
        @include fontsiz;
        color:$colo-noir;

    }
    button{
    background-color: #ffffff;
    width: 9%;
    border: solid;
    color: #292525;
    height: 0%;
    border-color: black;
    }



.div-with-border{
    border:solid 1px;
    border-color: $colo-black;
    width: 18%;
    margin-left: 7%;
    
}
.div-with-border{
    p {  
    color:$colo-black;
    @include fontsiz;
    
}
}

.one-img-one-text{
    position: relative;
    display: flex;
    width: 80%;
    margin: 0% auto;
}
.phot-normal{
    width: 100%;
    position: relative;
    bottom: 1%;
}
.text-close-imag{
    background-color: #FDFDFD;
    padding: 5%;
    height: 40%;
    position: absolute;
    bottom: 0%;
    left: 38%;
}
.button-and-titre{
    background-color: #FDFDFD;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    padding: 1%;
    width: 80%;
    margin: 0% auto;
}
.fore-first-photos{
    display: flex;
    justify-content: center;
    width: 74%;
    margin: 0% auto;

}
.one{
    position: relative;
    text-align: center;
    width: 50%;
}
.first-text-img{
    position: absolute;
    bottom: 26%;
    right: 44%;
    color:$colo-black;
    @include secondsize;

}
.tow{
    position: relative;
    text-align: center;
    width: 50%;
}
.second-text-img{
    position: absolute;
    bottom: 26%;
    right: 44%;
    color:$colo-black;
    @include secondsize;
}
.fore-seconde-photos{
    display: flex;
    justify-content: center;
    width: 74%;
    margin: 0% auto;
}
.reso-sosiale{
    color:$colo-black;
    margin-top: 3%;
}
footer{
    background-color:$colo-noir;
    display: flex;
    justify-content: space-around;
}
.footer-lines{
    color:$colo-black;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;
}
footer{
    div{
        ul {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
}
}

@media screen and (max-width: 375px) {
    body {
      background-color:$color-blue;
    }
    
    
    
body{ 
    padding: 0;
    margin: 0;
    width: 100%;
    
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }

 .back-imag{
    width: 100%;
    height: 30rem;
    
    background-repeat: no-repeat;
    background-size: cover;
 }

 nav{
     ul{
    @include font-Alata;
    color: $colo-black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;
    margin-left: 46%;
    
 }
}

    h1{
        color: $colo-black;
        top: 15%;
        left: 5%;
    }
    h2{
        @include fontsiz;
        color:$colo-noir;
        padding: 3%;
    }
    h3{
        @include fontsiz;
        color:$colo-noir;

    }
    button{
    background-color: #ffffff;
    width: 9%;
    border: solid;
    color: #292525;
    height: 0%;
    border-color: black;
    }



.div-with-border{
    border: solid 1px;
    border-color: #FDFDFD;
    width: 46%;
    margin-left: 21%;
    position: relative;
    top: 10%;
    
}
.div-with-border{
    p {  
    color:$colo-black;
    @include secondsize;
    
}
}

.one-img-one-text{
    position: relative;
    display: flex;
    width: 80%;
    margin: 0% auto;
}
.phot-normal{
    width: 100%;
    position: relative;
    bottom: 1%;
}
.text-close-imag{
    background-color: #FDFDFD;
    padding: 5%;
    height: 40%;
    position: absolute;
    bottom: 0%;
    left: 38%;
    
}
.button-and-titre{
    background-color: #FDFDFD;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    padding: 1%;
    width: 80%;
    margin: 0% auto;
}
.fore-first-photos{
    display: flex;
    justify-content: center;
    width: 74%;
    margin: 0% auto;

}
.one{
    position: relative;
    text-align: center;
    width: 50%;
}
.first-text-img{
    position: absolute;
    bottom: 26%;
    right: 44%;
    color:$colo-black;
    @include secondsize;

}
.tow{
    position: relative;
    text-align: center;
    width: 50%;
}
.second-text-img{
    position: absolute;
    bottom: 26%;
    right: 44%;
    color:$colo-black;
    @include secondsize;
}
.fore-seconde-photos{
    display: flex;
    justify-content: center;
    width: 74%;
    margin: 0% auto;
}
.reso-sosiale{
    color:$colo-black;
    margin-top: 3%;
}
footer{
    background-color:$colo-noir;
    display: flex;
    justify-content: space-around;
}
.footer-lines{
    color:$colo-black;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;
}
footer{
    div{
        ul {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
}
}
}
