@import "./base/sures/index.scss";

body{ 
    padding: 0;
    margin: 0;
    width: 100%;
    
}
.attribution a { 
    color:$color-blue;
 }

    h2{
        @include fontsiz;
        color:$colo-noir;
        padding: 3%;
    }
    h3{
        @include fontsiz;
        color:$colo-noir;

    }
    button{
    background-color:$colo-black;
    width: 9%;
    border: solid;
    color:$colo-noir;
    height: 0%;
    border-color:$colo-noir;
    }
.button-and-titre{
    background-color:$colo-black;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    padding: 1%;
    width: 80%;
    margin: 0% auto;
}


