@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@mixin font-Alata {
	font-family: 'Alata', sans-serif;
	

}
@mixin fontsiz {
	font-size: 34px;
	
}
@mixin secondsize {
	font-size: 20px;
	
}